<link rel="stylesheet" href="../global.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<header class="header">
  <div class="logo">
    <a class="logo-text-link" href="/">
      <img src="/assets/images/icons/favicon.png" alt="A.B.I.R Logo">
    </a>
  </div>

  <nav class="topbar">
    <div class="nav-links">
      <a class="active" href="/">Home</a>
      <a href="/pages/about.html">About</a>
      <a href="/pages/projects.html">Projects</a>
      <a href="/pages/feedback.html">Feedback</a>
    </div>
    <button class="contact-button" onclick="window.location.href='/pages/contact.html'">Contact Me</button>
  </nav>
</header>